.App{
    overflow: hidden;
    height: 100vh;
    position: relative;
    background-color: whitesmoke;
}
.appTop{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 90%;
    padding: 0.5rem;
    align-items: center;
    z-index: 9999;
}

.appBtn{
    position: relative;
    height: 100%;
    width: 100%;
}


